
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  
  /*--primary: #12bbad;
  --secondary: #4f70ce;*/
  --primary: #ff7f6d;
  --secondary: #f1998f;
  
  --light: #f3f3f3;
  --dark: #151515;
  
  /* Variables for Content block*/
  --block: #28282a;
  --box-shadow-depth: 10px;
  
  --background: #d1d3e4;
  
  --text-color: #ffffff;
}

.bg-dark {
  background-color: var(--dark) !important; }

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: black !important; }
  
.bg-white {
  background-color: var(--white) !important; }

.bg-transparent {
  background-color: transparent !important; }
  
.bg-light {
  background-color: var(--light) !important; }

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dadada !important; }
